body {
    background: #ebebeb;
}

.content-page {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1.25rem 2.5rem !important;
    border-radius: 1.25rem;
    background-color: #ffffff;
}

/* 麵包屑 */
.breadcrumbs {
    margin-bottom: 1rem;
    border: 1px solid #cbd2d9;
    border-radius: 0.3rem;
    display: inline-flex;
    overflow: hidden;
}

.breadcrumbs .item {
    background: #fff;
    color: #333;
    outline: none;
    padding: 0.4em 1.2em 0.4em 1.4em;
    position: relative;
    text-decoration: none;
    transition: background 0.2s linear;
}

.breadcrumbs .item:hover:after,
.breadcrumbs .item:hover {
    background: #edf1f5;
}

.breadcrumbs .item:after,
.breadcrumbs .item:before {
    background: white;
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
    transition: background 0.2s linear;
    width: 1em;
    z-index: 1;
}

.breadcrumbs .item:before {
    background: #cbd2d9;
    margin-left: 1px;
}

.breadcrumbs .item:last-child {
    border-right: none;
}

.breadcrumbs .item.active {
    background: #f0f0f0;
}

/* 卡片表單 */
.custom-card {
    background-color: #ffffff;
    border: 1px solid #C0C0C0;
    border-radius: 0.5rem;
    overflow: hidden;
}
.custom-card .header {
    padding: 0.75rem;
    background-color: #D6EAF8;
    border-bottom: 1px solid #C0C0C0;
}

.custom-card .header h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.custom-card .content {
    padding: 1rem 1.5rem;
}

.custom-card .content label,
.custom-card .content input,
.custom-card .content select,
.custom-card .content textarea {
    font-size: 1.1rem;
}
